extends layout.jade
block content
    #content
        #qrcode

        a(class="btn btn-large btn-primary" href="http://bcs.duapp.com/distapps/GroupContact_1.0.apk" id="link")

        .script
            new QRCode(document.getElementById("qrcode"), $("#link").attr("href"));
