extends /layout.jade
block content
    #content

        link(href="/static/styles/home.css" rel="stylesheet" type="text/css")
        script(src="/static/scripts/qrcode.min.js")

        h2 Android客户端

        #qrcode

        h3 发布日志
        
        h4 v1.2(2015.4.25)
            a(href="http://bj.bcebos.com/distapps/GroupContact_v1.2.apk?responseContentDisposition=attachment" id="link") 下载
            
        ol
            li 界面调整； 
            li 增加扫码添加好友 ；
            li 增加意见反馈；
            li 好友列表离线能查看；

        h4 v1.1(2015.4.22)
            a(href="http://bj.bcebos.com/distapps/GroupContact_v1.1.apk?responseContentDisposition=attachment" id="link") 下载

        ol
            li 创建群组； 
            li 更为安全的数据传输，保护隐私；
            li 添加好友；
            li 页面调整，更一致；
            li 注册需要设置密码，账号更为安全

        script.
            new QRCode(document.getElementById("qrcode"), $("#link").attr("href"));

        h2 iPhone客户端

        敬请期待(预计发布日期2015.4)
