extends layout.jade
block content
    #content

        link(href="/static/styles/home.css" rel="stylesheet" type="text/css")
        script(src="/static/scripts/qrcode.min.js")

        h2 Android客户端

        #qrcode

        h3 发布日志

        h4 即将推出 v1.2

        ol
            li 优化个人信息展示页, 提供操作(发送邮件, 发送微信消息, 发送QQ消息等等)
            li 优化认证机制, 消除漏洞, 加强隐私控制
            li 添加界面的加载等待动画, 改进使用体验

        h4 v1.1(2015.3.29)
            a(href="http://bcs.duapp.com/distapps/GroupContact_1.1.apk" id="link") 下载

        ol
            li 通过名称和号码添加好友
            li 使用小米提供的Update服务更新
            li 用新签名重新打包

        script.
            new QRCode(document.getElementById("qrcode"), $("#link").attr("href"));

        h4 v1.0(2015.3.19)
            a(href="http://bcs.duapp.com/distapps/GroupContact_1.0.apk") 下载

        ol
            li 群组搜索, 群组添加, 群组成员查看
            li 个人信息更新
            li 从群组中添加好友, 取消好友

        h2 iPhone客户端

        敬请期待(预计发布日期2015.4)
