extends ../layout.jade

block content

    link(rel="stylesheet" type="text/css" href="/static/styles/apitest.css")

    h1 创建群组

    form
        .form-group
            label 群组名称:
            input.form-control(name="name" type="text" placeholder="群组名称")

        .form-group
            label 群组描述:
            textarea.form-control(name="desc" type="text" placeholder="群组描述")

        .form-group
            label 读密码:
            input.form-control(name="accessToken" type="password" placeholder="读密码")

        .form-group
            label 写密码:
            input.form-control(name="modifyToken" type="password" placeholder="写密码")

        button(class="btn btn-primary" type="button" id="createGroup") 创建
        img(src="https://s.tbcdn.cn/g/tb/login/0.2.1/images/loading.gif" id="loading")

    .response
        h3 响应
        pre
            code {}

    script.
        $("#loading").hide();

        $("#createGroup").click(function() {
            $("button").prop("disabled", true);
            $("#loading").show();
            var data = $('form').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
            $.post("/api/v1/createGroup", data, function(response) {
                $(".response code").text(JSON.stringify(response));
                $("#loading").hide();
                $("button").prop("disabled", false);
            });
        });
