extends ../layout.jade

block content

    link(rel="stylesheet" type="text/css" href="/static/styles/apitest.css")

    h1 删除群组

    form
        .form-group
            label 群组ID:
            input.form-control(name="gid" type="text" placeholder="群组ID")

        .form-group
            label 写密码:
            input.form-control(name="modifyToken" type="password" placeholder="写密码")

        button(class="btn btn-primary btn-danger" type="button" id="deleteGroup") 删除
        img(src="https://s.tbcdn.cn/g/tb/login/0.2.1/images/loading.gif" id="loading")

    .response
        h3 响应
        pre
            code {}

    script.
        $("#loading").hide();

        $("#deleteGroup").click(function() {
            $("button").prop("disabled", true);
            $("#loading").show();
            var data = $('form').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
            $.post("/api/v1/deleteGroup", data, function(response) {
                $(".response code").text(JSON.stringify(response));
                $("#loading").hide();
                $("button").prop("disabled", false);
            });
        });
