extends /layout.jade

block content

    link(rel="stylesheet" type="text/css" href="/static/styles/apitest.css")

    h1 删除好友

    form
        .form-group
            label 用户ID:
            input.form-control(name="uid" type="text" placeholder="用户ID")

        .form-group
            label 用户名:
            input.form-control(name="name" type="text" placeholder="用户名")

        .form-group
            label 对方用户ID:
            input.form-control(name="fid" type="text" placeholder="对方用户ID")

        button(class="btn btn-primary btn-danger" type="button" id="deleteFriend") 删除
        img(src="https://s.tbcdn.cn/g/tb/login/0.2.1/images/loading.gif" id="loading")

    .response
        h3 响应
        pre
            code {}

    script.
        $("#loading").hide();

        $("#deleteFriend").click(function() {
            $("button").prop("disabled", true);
            $("#loading").show();
            var data = $('form').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
            $.post("/api/v1/deleteFriend", data, function(response) {
                $(".response code").text(JSON.stringify(response));
                $("#loading").hide();
                $("button").prop("disabled", false);
            });
        });
