extends /layout.jade

block content

    link(rel="stylesheet" type="text/css" href="/static/styles/apitest.css")

    h1 列举群组

    form
        .form-group
            label 用户ID:
            input.form-control(name="uid" type="text" placeholder="用户ID")

        button(class="btn btn-primary" type="button" id="listGroup") 查询
        img(src="https://s.tbcdn.cn/g/tb/login/0.2.1/images/loading.gif" id="loading")

    .response
        h3 响应
        pre
            code {}

    script.
        $("#loading").hide();

        $("#listGroup").click(function() {
            $("button").prop("disabled", true);
            $("#loading").show();
            var data = $('form').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
            $.get("/api/v1/listGroup", data, function(response) {
                $(".response code").text(JSON.stringify(response));
                $("#loading").hide();
                $("button").prop("disabled", false);
            });
        });
