extends ../layout.jade

block content

    link(rel="stylesheet" type="text/css" href="/static/styles/apitest.css")

    h1 编辑用户信息

    form
        .form-group
            label 用户名:
            input.form-control(name="name" type="text" placeholder="用户名称")
        
        .form-group
            label 手机号码:
            input.form-control(name="phone" type="text" placeholder="手机号码")
        
        button(class="btn btn-primary" type="button" id="editUser") 保存
        img(src="https://s.tbcdn.cn/g/tb/login/0.2.1/images/loading.gif" id="loading")
    
    script.
        $("#loading").hide();
        
        $("#createUser").click(function() {
            $(button).prop("disabled", true);
            $("#loading").show();
            var data = $('form').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
            $.post("/api/createUser", data, function(response) {
                $(".response code").text(response);
                $("#loading").hide();
                $(button).prop("disabled", false);
            });
        });
