h1, form, div {
    width: 400px;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

textarea {
    resize: none;
}

.form-control {
    padding: 6px 6px;
}

#loading {
    margin-left: 10px;
}
