h1,h2,h3,h4,h5,h6 {
    font-family: "Microsoft YaHei", sans;
}

footer {
    font-family: "Palatino Linotype", "Georgia", serif;
}

p {
    font-family: "Palatino Linotype", "Georgia", "Microsoft YaHei", serif;
}

footer {
    text-align: center;
    font-size: large;
}
